<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Omshanti Pustake</title>
</head>

<nav class="navbar">
    <div class="logo">
        <h1>OmShantiBooks</h1>
    </div>
    <div class="overly"> </div>
    <ul class="links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="./index.html">9th Classes</a></li>
        <li><a href="../10th/index.html">10th Classes</a></li>
        <li><a href="../bestbooks/index.html">Best Books</a></li>
    </ul>

    <button title="hamburger" id="hamburger">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
    </button>
</nav>
<div class="main">
    <div class="pdf-container">


<!-- Only 8th books Books -->

        <div class="book">
            <a href="../../pdfs/Math - I.pdf" id="download-link" download="9th_Math-I_textbook.pdf" >
                <div class="card" style="--thb: url(../../pdf-thmb/thb_pdf_6.jpg)">
                    <p class="heading">
                        9th Math Part-I
                    </p>
                    <p>
                        Powered By
                    </p>
                    <p>OmKar Kale
                    </p>
                </div>
            </a>
        </div>
        <div class="book">
            <a href="../../pdfs/Math - II.pdf" id="download-link" download="9th_Math-II_textbook.pdf" >
                <div class="card" style="--thb: url(../../pdf-thmb/thb_pdf_4.jpg)">
                    <p class="heading">
                        9th Math Part-II
                    </p>
                    <p>
                        Powered By
                    </p>
                    <p>Omkar Kale
                    </p>
                </div>
            </a>
        </div>
        <div class="book">
            <a href="../../pdfs/Science and Technology.pdf" id="download-link" download="9th_Science&Technology_textbook.pdf" >
               <div class="card" style="--thb: url(../../pdf-thmb/thb_pdf_5.jpg)">
                    <p class="heading">
                        9th Sceince
                    </p>
                    <p>
                        Powered By
                    </p>
                    <p>Omkar Kale
                    </p>
                </div>
            </a>
        </div>
        <div class="book">
            <a href="../../pdfs/901030024.pdf" id="download-link" download="9th_Marathi_textbook.pdf" >
                <div class="card" style="--thb: url(../../pdf-thmb/thb_pdf_1.webp)">
                    <p class="heading">
                        9th Marathi
                    </p>
                    <p>
                        Powered By
                    </p>
                    <p>Om
                    </p>
                </div>
            </a>
        </div>
        <div class="book">
            <a href="../../pdfs/901010491.pdf" id="download-link" download="9th_History.pdf">
                <div class="card" style="--thb: url(../../pdf-thmb/thb_pdf_2.webp)">
                    <p class="heading">
                        9th Itihas
                    </p>
                    <p>
                        Powered By
                    </p>
                    <p>Om
                    </p>
                </div>
            </a>
        </div>
        <div class="book">
            <a href="./pdfs/901020011.pdf" id="download-link" download="9th_Bhugol.pdf">
                <div class="card" style="--thb: url(./pdf-thmb/thb_pdf_3.webp)">
                    <p class="heading">
                        9th Bhugol 
                    </p>
                    <p>
                        Powered By
                    </p>
                    <p>OmKar
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="../../script.js"></script>
</body>

</html>