<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Omshanti Pustake</title>
</head>

<nav class="navbar">
    <div class="logo">
        <h1>OmShantiBooks</h1>
    </div>
    <div class="overly"> </div>
    <ul class="links">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../9th/index.html">9th Classes</a></li>
        <li><a href="../10th/index.html">10th Classes</a></li>
        <li><a href="./index.html">Best Books</a></li>
    </ul>

    <button title="hamburger" id="hamburger">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
    </button>
</nav>
<div class="main">
    <div class="pdf-container" >


        <!-- Only Best books Books -->


      <div class="book">
            <a href="../../pdfs/The Art of Explanation.pdf" id="download-link" download="The Art of Science.pdf">
                <div class="card" style="--thb: url(../../pdf-thmb/thb_pdf_7.jpg)">
                    <p class="heading">
                        The Art of Science
                    </p>
                    <p>
                        Powered By
                    </p>
                    <p>Om
                    </p>
                </div>
            </a>
        </div> 

            
    </div>
</div>

<script src="../../script.js"></script>
</body>

</html>